<%= render "layouts/menu" %>
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @task.text %>
</p>

<h2>Comments</h2>
<%= render @task.comments %>
  
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Back', tasks_path %>
<%= link_to 'Edit', edit_task_path(@task) %>