<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">h_desk</a></h1>
     
    </li>
    </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">

      <% if current_user && is_admin? %> 
      <li> <!-- class="active" for active menu item -->
        <%= link_to 'Пользователи', users_path %>
      </li>
      <% end %>

      <li><%= link_to 'База знаний', articles_path %></li>

      <li>
        <%= link_to 'Заявки', tasks_path %>
      </li>

      <li class="has-dropdown">
        <a href="#">Отчеты</a>
        <ul class="dropdown">
          <li><a href="#">Отчет за месяц</a></li>
          <li><a href="#">Незакрытые заявки</a></li>
        </ul>
      </li>
      <% if current_user %>
        <li style="color: #008cba; margin-top: 13px; font-weight: bold; font-size: 0.8125rem;">Logged as <%= current_user.login %></li>
        <li><%= link_to 'Log out', logout_path %></li> 
      <% else %>
        <li><%= link_to 'Sign Up', signup_path %></li>
        <li><%= link_to 'Log In', login_path %></li>
      <% end %>
      </ul>

    </ul>
    </section>
</nav>